@import url('variables.css');
@import url('layout.css');
@import url('animations.css');

/* normalizacion*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0; 
    color: white;    
     /* outline: 2px solid brown;     */
}


body{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--black);
}


/* --> Propiedades generales <-- */
#introduction{
    display: grid;
}


/* -----------------------
NAV
-----------------------
*/
nav,
.vertical{
    position: fixed; 
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;

    /* colores */
    background: var(--black);
}

nav{
    height: 100px;
    width: 100%;
    top: 0;
}
.vertical{
    top: 100px;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
}

#nav__icon i{
    width:100%;
    height:100%;
    font-size: 50px;
    color: var(--white);
}

#links__container{
    flex: 2;
    display: flex;
    justify-content: space-around;
}





/*texto del nav*/
nav a{
    position: relative;
    overflow: hidden;
    font-size: var(--medium--size--font);
    text-decoration: none;
    z-index: 100;

}


/*
-----------
MAIN
-----------
*/


/*contenido principal*/
main{
    position: relative;
    top: 100px;
}


/* --> Seccion de introduccion <-- */
#introduction{
    grid-template-columns:  repeat(2, minmax(500px, 40vw));  
    grid-template-rows: 50vh 50vh;
    grid-gap: 15px;
}


#title2{
    order: 1;
}



/*
-----------
MISION, VISION Y VALORES
-----------
*/

#staircase{
    grid-template-columns: repeat(3, minmax(300px, 30vw));
    gap: 20px 40px;
    align-items:flex-start;
}

.staircase__card:nth-child(2){
    margin-top: 30vh;
}

.staircase__card:nth-child(3){
    margin-top: 60vh;
}




.staircase__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /*colores*/
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;
}
/*
---------------------
CERTIFICACIONES
---------------------
*/

#certification__container {
    margin-top: 30px;
    gap: 30px;

}

/*proyectos*/


/* --> Titulo <-- */
#my-work  > div{
    margin-top: 100px;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: flex-start;

}

#my-work > div > h2{
    grid-column: span 2;
}

#back-title,
#front-title{
    padding: 15px 5vw;
}

/* CERTIFICACIONES*/


/* --> Proyectos <-- */
.project__container{
    gap: 30px;
    margin-top: 50px;
}
.project{
    display: grid;
    grid-template-columns:  300px repeat(2, minmax(500px, 40vw)) ;  
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    /* grid-template-rows:  300px 300px 300px; */
}

/* skills */
.skill-icon-container{
    margin: 30px;
    padding: 10px;
}
.skill-icon-container img{
    max-width: 5vw;
}

/* information */

.project__info{
    grid-row: span 2;
    align-items: flex-start;
    gap: 20px;
}

.project__title{
    font-size: var(--small-tile);
}

.project__desc,
.project__details{
    font-size: var(--medium--size--font);
   
}


.project__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: transparent;
    border-radius: 15px;
}
.project__details i{    
    font-size: var(--small-tile);
}
.project__details a{
    text-decoration: none;
}
.hidden{
    display: none;
}

.visible{
    display: flex;
}

.selected{
    background-color: transparent;
    border: 2px solid white;
}

h2{
    font-size: var(--emphasis);
}




#contact__links{
    margin-top: 30px;
    row-gap: 30px;
}
#contact__links div{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 20vw));
    width: 70vw; 
}
.social-media-icon{
    font-size: var(--icons-contact);
}




@media (max-width: 720px) {
    nav{
        height: 70px;
    }
    .vertical{
        width: 100vw;
    }

    /*  textos de presentacion*/
    #introduction{
        grid-template-columns:  repeat(auto-fill, minmax(300px, 500px)); 
        grid-template-rows: 30px 30vh 30px 30vh ;
    }

    #title2{
        order: 0;
    }

    /*misión, vision y valores*/
    #staircase{
        grid-template-columns:  repeat(auto-fill, minmax(300px, 400px   )); 
    }
    #staircase div{
        margin-top: 0;
    }

    /* proyectos*/
    .project{
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto auto; /* Dos filas automáticas */ 
        gap: 30px;
    }

    /* las skills*/
    .skills__container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .skill-icon-container{
        padding: 5px;
        margin: 10px;
    }

    .skill-icon-container img{
        max-width: 10vw;

    }

    #contact__links div{
        width: 90vw;
    }


}



