@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

:root{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    /*variables de colores*/
    --purple: #85567F;
    --pink: #8A1871;
    --blue: #4E9BCB;
    --white: #fff;
    --black: #000;

    /*degradados*/
    --white-to--purple: linear-gradient(90deg,var(--white) 0%, var(--purple) 100%);
    --blue-to--pink: linear-gradient(90deg,var(--blue) 0%, var(--pink) 100%);

}
/*
DEGRADADO: BLANCO  - PURPURA
linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(138,24,113,1) 100%);

*/
body{

    background-color: var(--black);
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.outline__fill{
    background: var(--white-to--purple); /* esto se cambia dependiendo del color*/
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    color: var(--black);
    font-size: 7em;
    text-transform: uppercase;
}

.blue-pink__fill{
    font-size: 12em;
    background: var(--blue-to--pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
#content-div, #main-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
#content-div{
    gap: 1em;
}

#main-div{
    gap: 0;
}

#show-more{
    font-size: 1.5em;
    cursor: pointer;
    height: 3em;
    width: 30%;
    font-family: "Carme", sans-serif;
    font-weight: 400;
    background-color: transparent;
    color:var(--white);
    border-radius: 1em;
    

    overflow: hidden; /* Oculta cualquier contenido que se desborde del borde */
    background-image: var(--white-to--purple); /* Gradiente del borde */
    background-size: 200% 100%; /* Tamaño inicial del gradiente */
    background-position: right bottom; /* Posición inicial del gradiente */
    transition: background-position 0.5s ease; /* Transición para animar el gradiente */
}

#show-more:hover{
    background-position: left bottom; /* Mueve el gradiente de derecha a izquierda */
}


