/*variables */
:root{
    --medium--size--font:   clamp(15px, 1.5vw, 2rem);
    --small-tile: clamp(1.5rem, 2.3vw, 2rem);
    --emphasis: clamp(1.5rem, 4vw, 3rem);

    /* iconos*/
    --icons-contact: clamp(2rem, 6vw, 7rem);

}

/* normalizacion*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0; 
    outline: 2px solid green;  
}


body{
    overflow-y: scroll;
    outline: 2px solid blue;
}



/* --> Propiedades generales <-- */

.flex-column{
    display: flex;
    flex-direction: column;
}
/*--> MENU <-- */
nav{
    position: fixed; 
    top: 0;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}


nav div i{
    width:100%;
    height:100%;
    font-size: 40px;
    color: aqua;
}


/*texto del nav*/
nav a{
    font-size: var(--medium--size--font);
}

/*contenido principal*/
main{
    position: relative;
    top: 100px;
}


/* --> Seccion de introduccion <-- */
#introduction{
    display: grid;
    grid-template-columns:  repeat(2, minmax(500px, 40vw));  
    grid-template-rows: 50vh 50vh;

    grid-gap: 15px;

    justify-content: center;

    justify-items: center ;
    align-items: center;
}


/*texto*/
#introduction p{
    font-size: var(--medium--size--font);
}

.title{
    font-size: var(--small-tile);
}

.title span{
    font-size: var(--emphasis);
}

#title2{
    order: 1;
}


/* mision, vision y valores*/

#staircase{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 30vw));
    justify-content: center;
    gap: 20px 40px;
}

.staircase__card:nth-child(2){
    margin-top: 30vh;
}

.staircase__card:nth-child(3){
    margin-top: 60vh;
}


/* --> Componente de la tarjeta <--*/
.staircase__card p{
    font-size: var(--medium--size--font);
}

.staircase__card h3{
    font-size: var(--small-tile);
}

.staircase__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


/*proyectos*/


/* --> Titulo <-- */
#work__title{
    margin-top: 100px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
#work__title div{
    padding: 15px 5vw;
}
#work__title h2{
    grid-column: span 2;
    font-size: var(--emphasis);
}

#work__title h3{
    font-size: var(--small-tile);
}
/* CERTIFICACIONES*/


/* --> Proyectos <-- */
.project__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.project{
    display: grid;
    grid-template-columns:  300px repeat(2, minmax(500px, 40vw)) ;  
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    /* grid-template-rows:  300px 300px 300px; */
}

/* skills */
.skill-icon-container{
    margin: 30px;
    padding: 10px;
}
.skill-icon-container img{
    max-width: 5vw;
}

/* information */

.project__info{
    grid-row: span 2;
}

.project__title{
    font-size: var(--small-tile);
}

.project__desc,
.project__details{
    font-size: var(--medium--size--font);
    padding: 10px;
}


.project__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.project__details i{    
    font-size: var(--small-tile);

}
.hidden{
    display: none;
}

.visible{
    display: flex;
}

.selected{
    background-color: aqua;
}

h2{
    font-size: var(--emphasis);
}




/* contactosssss */
#contact__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#contact__links div{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 20vw));
    width: 70vw; 
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    
}
#contact__links div i{
    font-size: var(--icons-contact);
}



/*certificaciones*/
#certification__container,
#certification__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#certification__container {
    margin-top: 30px;
    gap: 30px;

}
@media (max-width: 720px) {
    #introduction{
        grid-template-columns:  repeat(auto-fill, minmax(300px, 500px)); 
        grid-template-rows: 30px 30vh 30px 30vh ;
    }

    #title2{
        order: 0;
    }

    #staircase{
        grid-template-columns:  repeat(auto-fill, minmax(300px, 400px   )); 
    }
    #staircase div{
        margin-top: 0;
    }

    .project{
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto auto; /* Dos filas automáticas */ 
        gap: 30px;
    }

    .skills__container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .skill-icon-container{
        padding: 5px;
        margin: 10px;
    }

    .skill-icon-container img{
        max-width: 10vw;

    }

    #contact__links div{
        width: 90vw;
    }


}



